@import "tailwindcss";

@layer base {
  body {
    @apply bg-orange-50/30 text-slate-800 min-h-screen font-sans antialiased selection:bg-orange-500 selection:text-white;
  }
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #fff7ed;
}
::-webkit-scrollbar-thumb {
  background: #fdba74;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f97316;
}
